p{
    font-family: inherit;
    color: inherit;
}
.p1{
    margin-bottom: 45px;
    max-width: 100%;
    justify-content: center;
}
.navb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
}
.navb a {
    color: white;
}
.navb a:hover {
    color: black;
}
.navb2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    z-index: 2;
}
.navb2 a {
    color: black;
}
.navb2 a:hover {
    color: white;   
}
a{
    text-decoration: none;
}

.navb2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    z-index: 2;
}
.carousel-inner{
    height: auto;
}
.carousel-caption{
    bottom: 85px;
}
.titrePrincipal {
    color: white;
    font-weight: bolder;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}
.titrePrincipalA{
    color: black;
    font-weight: bolder;
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 65px;
}
.textCarousel{
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 20px;
    margin-bottom: 45px;
    font-style: oblique;
}
.tbalade{
    color: black;
    font-weight: bolder;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
}
.textbalade{
    color: black;
    font-weight: bolder;
    font-family: 'Bree Serif', serif;
    font-size: 12px;
}
.nb{
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    font-size: 20px;
}
.fondB{
    background-image: url(images/imageFond5.jpg);
    background-size: cover;
}.cl1{
    background-size: right; 
  
  
}
.l1{
    list-style: none;
    font-family: 'Bree Serif', serif;
    font-size: 12px;
    font-weight: bolder;color: black;
    text-align: center;

}
.btn{
    padding: o; 
    margin-bottom: 35px;
}
.black{
    padding: 15px;
    height: 530px;
    background-color: rgba(143, 188, 143, 0.5);
}
.lindex{
    height: 500px;
    overflow: auto;
    scrollbar-color:black;
}
.white{
    background-color: rgba(255, 255, 255, 1);
    border: solid;
    margin-top: 2%;
    margin-bottom: 2%;
}

.img-thumbnail{
    border: solid;
    margin-right: 5%;
    height:80px;
}

.image{
    height:520px;
}

.column-right{
    height:520px;
    overflow-y: scroll;
}

.title-action-balades{
    color: black;
    font-family: "Arial";
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    margin:5%;
}

#inputitineraire, #inputdescrip{

    margin-bottom: 1em;
    overflow-y: auto;
}


.champsform{
    margin-bottom: 1.75em;

}
.cplieu {
    font-size : 1.35em;
    font-family: "Arial";

}
.vertic-space{
    margin-bottom: 0.75em;
}

.balade-descrip-block{
    background-color: rgba(202, 195, 195, 0.972);
    padding: 10px;
    margin-bottom: 0.75em;
}

.titleDescrip{
    font-weight: bold;
    font-size: 1.65em;
    color: black;
    margin-bottom: 0.25em;
    
}
.styledebalade{

    margin-bottom:1.5em;
    margin-left: -0.45em;

}

.lbl-balade{
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    color: black;
}
label{
    font-family: 'Bree Serif', serif;
}


.encadrage-image-balade {
    border: 1px solid black ;
    min-height:40em;
}

.btn-upload-file{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;top: 40%;
}



body{
    margin:0px;
    padding:0px;
}


h1{
    font-size: 5em;
    color: #ffffff;
    font-family: "Yeseva One";
    font-weight: 400;
    text-align: center;
    margin-top:100px;
}
.py-2{
    margin-top: 20px;
}
.lienFooter{
    color: black;
    text-align: center;
}

.title-categ-balades{
    color: blue;
    font-family: "Arial";
    font-size: 2.25em;
    font-weight: bold;
    
    text-align: center;
    margin:5%;

}

.divi-pseudo{
    margin-left: 70%;
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em;
}

.dep-arr{
    marge-top : 5%;
    font-size : 1.35em;
}

.typebalade{
    font-size : 1.35em;
    
}

input[type="radio"]{
    margin-right: 40px;
  }

@media (max-width: 992px) {
    .photo{
        display: none;
    }
    
}
@media (min-width: 992px){
    .carousel-inner{
        height: 600px;
    }
    .carousel-caption{
        padding-bottom: 200px;
    }
    .titrePrincipal {
        color: white;
        font-weight: bolder;
        font-family: 'Bree Serif', serif;
        font-size: 60px;
    }
    .textCarousel{
        font-family: 'Bree Serif', serif;
        color: white;
        font-size: 40px;
        margin-bottom: 30px;
        font-style: oblique;
    }
}
@media (min-width: 1200px){
    .carousel-inner{
        height: 500px;
    }
    .carousel-caption{
        padding-bottom: 600px;
    }
    .titrePrincipal {
        color: white;
        font-weight: bolder;
        font-family: 'Bree Serif', serif;
        font-size: 60px;
    }
    .textCarousel{
        font-family: 'Bree Serif', serif;
        color: white;
        font-size: 40px;
        margin-bottom: 30px;
        font-style: oblique;
    }

}

@media (max-width: 480px){

    .thebtn{
            display: flex;
            flex-direction: column;
 
    }
}

.thebtn{
    margin-bottom:5%;

}

.image_balade{

    min-height:37em;    
	/* background-image: url('file:///k:/proj_balades/www/images/Legibloux.jpg'); */
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}