p{
    font-family: inherit;
    color: inherit;
}
.p1{
    margin-bottom: 30px;
    size: cover;
}
.navb{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
a{
    color: white;
}
.carousel-inner{
    height: auto;
}
.carousel-caption{
    padding-bottom: 20px;
}
.titrePrincipal {
    color: white;
    font-weight: bolder;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}
.textCarousel{
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    font-style: oblique;
}
.nb{
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    font-size: 20px;
}
.fondB{
    background-image: url(images/pp2.jpg);
    background-size: cover;
}.cl1{
    background-size: right; 
  
  
}
.l1{
    list-style: none;
    font-family: 'Bree Serif', serif;
    font-size: 12px;
    font-weight: bolder;color: black;
    text-align: center;

}
.btn{
    padding: o; 
    margin-bottom: 15px;
}
.black{
    background-color: rgba(0, 0, 0, 0.75);
}
.white{
    background-color: rgba(255, 255, 255, 1);
    border: solid;
    margin-top: 2%;
    margin-bottom: 2%;
}

.img-thumbnail{
    border: solid;
    margin-right: 5%;
    height:80px;
}

.image{
    height:520px;
}

.column-right{
    height:520px;
    overflow-y: scroll;
}



body{
    margin:0px;
    padding:0px;
}


h1{
    font-size: 5em;
    color: #ffffff;
    font-family: "Yeseva One";
    font-weight: 400;
    text-align: center;
    margin-top:100px;
}


#promo{
    background: url('assets/PROMO_BG.png');
    background-size: cover;
    background-position: center;
    width:100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.promoDivider{
    margin:50px;
    margin-top:-200px;
}
.BOUTON_PROMO{
    margin:auto;
}
.BOUTON_PROMO{
    margin-top:-200px;
}
.promoBouton{
    margin:30px;
}
/***-------------------------------*/
#ABOUT{
    background: url('assets/ABOUT_patternBG.png');
    background-size: cover;
    background-position: center;
    height: 710px;    
}
#Reservations{
    background-image: url("assets/RESERVATION_pattern");
    background-size: cover;
    background-position: center;
    height: 850px;
    text-align: center;
}

.titreABOUT{
    font-size: 2em;
    line-height: 24px;
    color: #d4c600;
    font-family: "Lato";
    font-weight: 400;
    margin:50px;
}

.CGAUCHE{
    text-align: center;
    margin-top:100px;
}

 

.CGAUCHE p{
    width:50%;
    margin:25px;
    margin-left:150px;
    text-align:center;  
}  

.assiette{
    margin-top:100px;
}
.col-md-6{
    margin:0px;
    padding: 0px;

}


.navbar{
    background-color:rgba(255, 255, 255, 0)
}

#INGREDIENTS{
    background: url('assets/INGREDIENTS_BG.png');
    background-size: cover;
    background-position: center;
    height: 758px;
    
}
.BlockDroite{
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 600px;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    text-align: center;


}

.divi-pseudo{
    margin-left: 70%;
}
.pseudo{

    font-weight: bold;
    font-style: italic;
    text-align: right;
}
.typebalade{
    font-size : 1.35em;
 
}

.dep-arr{
    marge-top : 5%;
    font-size : 1.35em;

}

input[type="radio"]{
    margin-left: 5px;
    /*or margin or line-height for better spaces bettween radio button according to your need and design;*/
}

.title-categ-balades{
    color: blue;
    font-family: "Arial";
    font-size: 2.25em;
    font-weight: bold;
    
    text-align: center;
    margin:5%;

}
.cplieu{
    font-size : 1.35em;
    font-family: "Arial";

}




.balade-descrip-block{
    background-color: rgba(202, 195, 195, 0.972);
    padding: 10px
}
.titleDescrip{
    font-weight: bold;
    font-size: 1.35em;
    color: black;
    margin-bottom: 0.2em;
    

}

#INGREDIENTS p{ 
    color:white;
    margin-left:10%;
    margin-right:10%;
    margin:50px;

}
.epices img{
    margin:25px;
}
header img{
    margin-right:300px;
    margin-left:100px;
}
header a{
    margin:0px 25px;
    color: antiquewhite;
}
.ING_divider{
margin:10px 200px;
}

/******************* Partie CSS pour Mise en Page du Menu des Plats ***********/

.rightfood-section{

        height: 720px;
        margin-top : 10%;
}

#first-img{
    margin-left : 20%;
}

.rightfood-title{
       
        font-family: "Yeseva One";
        font-weight: 400;
        font-size: 36px;
        color: #cc9900;    
}

.rightfood-texte{
    font-family: "Lato";
    font-weight: 400;
    font-size: 1.5em;
    color: #4c4c4c;
    
    

}



.deco-row{
    background-image: url('assets/RESERVATION_pattern.png');
    
    background-position: center;
   
    background-size: cover;
}

.title-categ-plats {
    
    font-family: "Yeseva One";
    font-weight: 400;
    font-size: 36px;
    color: #cc9900;
    
    background-image: url('assets/RESERVATION_Divider.png');
    background-position: bottom;
    background-repeat: no-repeat;

    margin-top: 1.3em;
    height:1.9em;
}

.categ-plats{
    margin-right: 5%;
    width: auto;  
}



.plat-bordurebas{
    padding-top:   10px;    
    border-bottom: 1px solid #cc9900;
}

.plat-ingredients{
    
    font-family: "Arial";
    font-size: 120%;
    color: #625f53;

    font-weight: lighter;
    text-align: left;

    padding-top: 3%;
    
    
}



.mot-special{
    font-family: sans-serif;
    background: #cc9900;
    color: white;
    padding: 3px 3px;
    
}

.special-plate{
    border: 1px solid #cc9900;
    padding-block: 6px;
}



.title-plat, .plat-price {
    
    color: #cc9900;
    font-size: 21px;
    font-family: "Yeseva One";
    font-weight: 400;
    
}

.mt-5 {
    margin-top: 4em !important;
}

.mt-1 {
    margin-top: 0.25em !important;
}

form{
    padding-top:px;
}
.py-2{
    margin-top: 20px;
}
.lienFooter{
    color: black;
    text-align: center;
}

