p{
    font-family: inherit;
    color: inherit;
}
.p1{
    margin-bottom: 30px;
    max-width: 100%;
}
.navb{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
a{
    color: white;
}
.carousel-inner{
    height: auto;
}
.carousel-caption{
    padding-bottom: 20px;
}
.titrePrincipal {
    color: white;
    font-weight: bolder;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}
.textCarousel{
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    font-style: oblique;
}
body{
    margin:0px;
    padding:0px;
    border:solid;
.tbalade{
    color: black;
    font-weight: bolder;
    font-family: 'Bree Serif', serif;
    font-size: 18px;
}
h1{
    font-size: 5em;
    color: #ffffff;
    font-family: "Yeseva One";
    font-weight: 400;
    text-align: center;
    margin-top:100px;
}
.textbalade{
    color: black;
    font-weight: bolder;
    font-family: 'Bree Serif', serif;
    font-size: 12px;
}
.nb{
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    font-size: 20px;
}
.fondB{
    background-image: url(images/pp2.jpg);
    background-size: cover;
}.cl1{
    background-size: right; 
  
  
}
.l1{
    list-style: none;
    font-family: 'Bree Serif', serif;
    font-size: 12px;
    font-weight: bolder;color: black;
    text-align: center;

}
.btn{
    padding: o; 
    margin-bottom: 15px;
}
.black{
    background-color: lightgray ;
    padding: 15px;
}
.white{
    background-color: rgba(255, 255, 255, 1);
    border: solid;
    margin-top: 2%;
    margin-bottom: 2%;
}

.img-thumbnail{
    border: solid;
    margin-right: 5%;
    height:80px;
}

.image{
    height:520px;
}

.column-right{
    height:520px;
    overflow-y: scroll;
}



body{
    margin:0px;
    padding:0px;
}


h1{
    font-size: 5em;
    color: #ffffff;
    font-family: "Yeseva One";
    font-weight: 400;
    text-align: center;
    margin-top:100px;
}
.py-2{
    margin-top: 20px;
}
.lienFooter{
    color: black;
    text-align: center;
}
@media (max-width: 992px) {
    .photo{
        display: none;
    }
    
}
@media (min-width: 992px){
    .carousel-inner{
        height: 600px;
    }
    .carousel-caption{
        padding-bottom: 200px;
    }
    .titrePrincipal {
        color: white;
        font-weight: bolder;
        font-family: 'Bree Serif', serif;
        font-size: 60px;
    }
    .textCarousel{
        font-family: 'Bree Serif', serif;
        color: white;
        font-size: 40px;
        margin-bottom: 30px;
        font-style: oblique;
    }
}
@media (min-width: 1200px){
    .carousel-inner{
        height: 500px;
    }
    .carousel-caption{
        padding-bottom: 600px;
    }
    .titrePrincipal {
        color: white;
        font-weight: bolder;
        font-family: 'Bree Serif', serif;
        font-size: 60px;
    }
    .textCarousel{
        font-family: 'Bree Serif', serif;
        color: white;
        font-size: 40px;
        margin-bottom: 30px;
        font-style: oblique;
    }

}
